<!-- HOSPITAL -->
    <div class="col-sm-6 col-xs-12 col-md-3 col-lg-3 boxes">
        <span class="thumb-info thumb-info-hide-wrapper-bg">
            <span class="thumb-info-wrapper">
                <a routerLink="/details">
                    <img src="{{hospital.photo}}" class="img-responsive" alt="" style="height: 170px;">
                    <span class="thumb-info-title">
                        <span class="thumb-info-inner">{{hospital.name}}</span>
                    </span>
                </a>
            </span>
            <span class="thumb-info-caption">
                <span class="thumb-info-caption-text">
                    <b> {{hospital.address}}</b>
                    <span>{{hospital.phone}}</span>
                </span>
                <span class="thumb-info-caption-text" style="color:green">{{hospital.hours}}</span>
                <span class="thumb-info-social-icons">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </span>
        </span>
    </div>
