<div class="row pt-lg mb-lg pb-xl">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h4 class="font-weight-semibold mb-xlg">Add the department information : </h4>
    </div>
    <form method="post" (ngSubmit)="OnAdd(MyForm)" #MyForm=ngForm>
      <div class="row">
        <div class="form-group">
          <div class="col-md-12">
            <input #dname=ngModel [(ngModel)]="department.Name" name="dname" type="text"  value="department.Name" data-msg-required="Please enter your name." maxlength="100"
              class="form-control"  id="name" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-12">
            <input #dBDesc=ngModel [(ngModel)]="department.Description" name="dBDesc" type="text"  value="department.Description" data-msg-required="Please enter the subject." maxlength="100"
              class="form-control"  id="subject" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-12">
            <input #roomNo=ngModel [(ngModel)]="department.Rooms" name="roomNo" type="text"  value="department.Rooms" data-msg-required="Please enter the subject." maxlength="100"
              class="form-control"  id="subject" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-12">
            <input #bedNo=ngModel [(ngModel)]="department.Beds" name="bedNo" type="text"  value="department.Beds" data-msg-required="Please enter the subject." maxlength="100"
              class="form-control"  id="subject" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-12">
            <textarea #dDDesc=ngModel [(ngModel)]="department.DetailedDescription" name="dDDesc" value="department.DetailedDescription" maxlength="5000"  data-msg-required="Please enter your message." rows="5" class="form-control"
               id="message" required></textarea>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="form-group">
          <div class="col-md-12">
              <label id="file-wrapper"> Add Photo
            <input class="add-input" #dPhoto=ngModel [(ngModel)]="department.Photo" name="dPhoto"  type="file" placeholder="The Department Photo"  data-msg-required="Please enter the subject." maxlength="100"
              class="form-control"  id="subject" >
              </label>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <input type="submit"  value="Save" class="btn btn-primary btn-lg mb-xlg" data-loading-text="Loading..."> &nbsp;
          <input type="button" value="Cancel" class="btn btn-primary btn-lg mb-xlg" data-loading-text="Loading...">
        </div>
      </div>
    </form>

  </div>
  <div class="col-md-2"></div>
</div>