button{
    float: right;
}

form{
    padding-top: 40px;
}

input.form-control{
    border-radius: 4px;
}

input.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    border-color: #66afe9;
}

.form-check-inline{
    padding-left: 55px;
}