<div class="container-fluid">
  <div class="row">
    <img src="../../../assets/img/demos/medical/slides/hos1.jpg" alt="first slide" style="display: block; width: 100%; ">
    <div class="carousel-caption d-none d-md-block">
      <h3>20 Years Caring About You</h3>
      <p>We are located in New York</p>
    </div>
  </div>
</div>
<section class="p-xlg">
  <div class="container">
    <app-about></app-about>
    <div class="row mt-lg">
      <app-department-item-small *ngFor="let dept of departments" [department]="dept"></app-department-item-small>
    </div>
    <hr class="custom-divider">
  </div>
</section>
<div class="container-fluid">

  <div class="row">
    <app-quote></app-quote>

  </div>

</div>