/* .image {
    height:100px;
} */
.image{
    margin-top:0px;
}
  p.lheight{
    line-height:0.2;
 }
ul.history li .featured-box .box-content {
    margin-top: -35px;
}
ul.history li .featured-box .news {
    margin-top: 1px;
}
.history .scroll{
    height: 170px;

    overflow: scroll;
}

.yellow{
    color:yellow;
}
.home-intro{
padding-top:1%; 
height: 176px;
padding-bottom:10%; 
}
/* .map{
   
    border-radius: 50%;
border:2px solid white;
   
} */
