<div class="container">
  <div class="row">
    <div class="col-lg-12" style="margin-top:20px;">
      <div class="text">
        <h2>Featured Medical Services</h2>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
        <div class="card" style="width: auto; height: auto;" routerLink="">
          <div class="card-body">
            <img class="card-img-top" src="../../../assets/img/download5.jpg" style="height:250px;" alt="Card image cap">
            <br/>
            <br/>
            <h4> Allergies Control </h4>
            <!-- <div class="docRates">
              <i class="fa fa-star orange"></i>
              <i class="fa fa-star orange"></i>
              <i class="fa fa-star orange"></i>
              <i class="fa fa-star orange"></i>
              <i class="fa fa-star-half orange"></i>
          </div> -->
            <!-- <button class="btn btn-primary "> Book An Appointment </button> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
        <div class="card" style="width: auto; height: auto;" routerLink="">
          <div class="card-body">
            <img class="card-img-top" src="../../../assets/img/images9.jpg" style="height:250px;" alt="Card image cap">
            <br/>
            <br/>
            <h4> lab and Xray Services </h4>
            <!-- <div class="docRates">
                      <i class="fa fa-star orange"></i>
                      <i class="fa fa-star orange"></i>
                      <i class="fa fa-star orange"></i>
                      <i class="fa fa-star orange"></i>
                      <i class="fa fa-star-half orange"></i>
                  </div> -->
            <!-- <button class="btn btn-primary "> Book An Appointment </button> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
        <div class="card" style="width: auto; height: auto;" routerLink="">
          <div class="card-body">
            <img class="card-img-top" src="../../../assets/img/download.jpg" style="height:250px;" alt="Card image cap">
            <br/>
            <br/>
            <h4>Care All time</h4>
            <!-- <div class="docRates">
                        <i class="fa fa-star orange"></i>
                        <i class="fa fa-star orange"></i>
                        <i class="fa fa-star orange"></i>
                        <i class="fa fa-star orange"></i>
                        <i class="fa fa-star-half orange"></i>
                    </div> -->
            <!-- <button class="btn btn-primary "> Book An Appointment </button> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>