<div id="say-hello">
  <div class="row">
    <div class="col-md-6 p-none">
      <section class="section section-no-border match-height background-color-primary m-none left-form">
        <div class="row m-none">
          <div class="col-half-section col-half-section-right mr-md">
            <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold">Say Hello</h2>
            <form id="callSendMessage" class="custom-form-style" action="#" method="POST">
              <div class="form-content">
                <div class="form-control-custom">
                  <input type="text" class="form-control" name="callName" placeholder="Your Name *" data-msg-required="This field is required." id="callName" required="" />
                </div>
                <div class="form-control-custom">
                  <input type="text" class="form-control" name="callSubject" placeholder="Subject *" data-msg-required="This field is required." id="callSubject" required="" />
                </div>
                <div class="form-control-custom">
                  <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" placeholder="Message*" id="message" required="" aria-required="true"></textarea>
                </div>
                <input type="submit" class="btn btn-quaternary text-color-light text-uppercase font-weight-semibold outline-none custom-btn-style-2 custom-border-radius-1" value="Submit" />
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-6 p-none">
      <section class="section section-no-border match-height m-none right-form" >
        <div class="row m-none">
          <div class="col-half-section col-half-section-left ml-md">
          
           
            <a href="skype:yourskype?chat" class="text-decoration-none">
              <span class="feature-box custom-feature-box mb-xlg">
                <span class="custom-feature-box-icon">
                  <i class="icon-social-skype icons text-color-light"></i>
                </span>
                <span class="feature-box-info">
                  <label class="font-weight-semibold text-uppercase custom-text-color-1">Skype</label>
                  <strong class="font-weight-light text-color-light custom-opacity-effect-1">yourskype</strong>
                </span>
              </span>
            </a>
            <span class="feature-box custom-feature-box mb-xlg">
              <span class="custom-feature-box-icon">
                <i class="icon-share icons text-color-light"></i>
              </span>
              <a href="http://www.facebook.com" class="text-decoration-none">
                <span class="feature-box-info">
                  <label class="font-weight-semibold text-uppercase custom-text-color-1">Follow me</label>
                  <strong class="font-weight-light text-color-light custom-opacity-effect-1">Facebook</strong>
                </span>
              </a>
              <a href="http://www.twitter.com" class="text-decoration-none">
                <span class="feature-box-info custom-both-side-border">
                  <strong class="font-weight-light text-color-light custom-opacity-effect-1">Twitter</strong>
                </span>
              </a>
              <a href="http://www.linkedin.com" class="text-decoration-none">
                <span class="feature-box-info p-none">
                  <strong class="font-weight-light text-color-light custom-opacity-effect-1">Linkedin</strong>
                </span>
              </a>
            </span>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
