<div class="col-md-1">

</div>

  <div class="col-md-10 h">
    <div id="say-hello">
      <div class="row">
        <div class="col-md-6 p-none">
          <section class="section section-no-border match-height background-color-primary m-none left-form wd">
            <div class="row m-none">
              <div class="col-half-section col-half-section-right mr-md">
                <h2 class=" text-uppercase font-weight-extra-bold" >Say Hello</h2>
                <form id="callSendMessage" class="custom-form-style" action="#" method="POST"  (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
                  <div class="form-content">
                    <div class="form-control-custom">
                      <input type="text" class="form-control" name="FName" placeholder="Your FirstName *" data-msg-required="This field is required." #name [(ngModel)]="appointment.FirstName"
                        id="callName" required />
                    </div>
                    <div class="form-control-custom">
                      <input type="text" class="form-control" name="LName"  placeholder="Your LastName *" data-msg-required="This field is required." #last [(ngModel)]="appointment.LastName"
                        id="callSubject" required />
                        <input type="text" class="form-control" name="phone"  placeholder="Your phone *" data-msg-required="This field is required." #phone [(ngModel)]="appointment.YourPhone"
                        id="callSubject" required  />
                    </div>
                    <div class="form-control-custom">
                      <input type="text" class="form-control" name="email"   placeholder="Your Email *" data-msg-required="This field is required." #Email [(ngModel)]="appointment.YourEmail"
                        id="callSubject" required  />
                    </div>
                    <div>

                    </div>
                    <!-- <input type="submit" class="btn btn-quaternary text-color-light text-uppercase font-weight-semibold outline-none custom-btn-style-2 custom-border-radius-1" value="Submit" routerLink="/acceptance"/> -->
                    <button class="btn btn-quaternary text-color-light text-uppercase font-weight-semibold outline-none custom-btn-style-2 custom-border-radius-1"
                     type="submit" >Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>
        <div class="col-md-6 p-none wd">
          <section class="section section-no-border match-height m-none right-form wd">
            <div class="row">
              <div class="col-md-12" style="margin-top:75px;">

                <div class="owl-carousel owl-theme show-nav-hover mt-none" data-plugin-options="{'items': 1, 'margin': 10, 'loop': true, 'nav': true, 'animateOut': 'fadeOut'}">
                  <div>
                    <span>
                      <div class="col-md-3">
                        <table style="width:100px; margin-left:85px;">
                          <tr style="background-color: #007fc9;">
                            <td style="color:white;">Sunday</td>
                          </tr>
                          <tr>
                            <td>
                              <input type="checkbox" value="14 @5hr" name="14 @5hr">14 @5hr
                            </td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-3">
                        <table style="width:100px; margin-left:85px;">
                          <tr style="background-color: #007fc9;">
                            <td style="color:white;">Monday</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-3">
                        <table style="width:100px; margin-left:85px;">
                          <tr style="background-color:#007fc9;">
                            <td style="color:white;"> Tuesday</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                        </table>
                      </div>
                    </span>
                  </div>
                  <div>
                    <span>

                      <div class="col-md-3">
                        <table style="width:100px; margin-left:85px;">
                          <tr style="background-color:#007fc9;">
                            <td style="color:white;"> Tuesday</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-3">
                        <table style="width:100px; margin-left:85px;">
                          <tr style="background-color:#007fc9;">
                            <td style="color:white;"> Tuesday</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-3">
                        <table style="width:100px; margin-left:85px;">
                          <tr style="background-color:#007fc9;">
                            <td style="color:white;"> Tuesday</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                          <tr>
                            <td>14 @5hr</td>
                          </tr>
                        </table>
                      </div>
                    </span>
                  </div>

                </div>

              </div>

            </div>

          </section>

        </div>
      </div>
    </div>
  </div>
<div class="col-md-1">

</div>