<div class="col-md-4">
  <div class="card">
    <img [src]= "event.imgUrl" [alt]="event.name" class="imgheight">
    <div class=" text text-center">
      <h4>
        <b>{{event.name}}</b>
      </h4>
      <p>{{event.address}} in {{event.location}}</p>
      <div>
      <span><i class="fa fa-clock-o"></i>{{event.time}}</span>
      <span><i class="fa fa-map-marker "></i> {{event.location}}</span></div>
      <button class="btn btn-primary" routerLink="details/{{eventIndex}}">Details</button>
    </div>
  </div>
</div>
