<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<img id="PP" [src]="patient.image" [alt]="patient.firstName">
				<div class=" text text-center">
					<div class="row" id="row">
						<div class="col-md-8">
							<p>{{patient.firstName+' '+ patient.lastName}}</p>
						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#patientDetails">
								<img id="icon" src="./assets/img/new-24-512.png" alt="edit icon">EdiT
							</button>
						</div>
					</div>
					<hr/>
					<div class="row">
						<ul>
							<li>Gender: {{patient.gender}}</li>
							<li>Age: {{patient.age}}</li>
							<li>Birth Day: {{patient.DOB}}</li>
							<li>Phone: {{patient.phone}}</li>
							<li>Address: {{patient.address}}</li>
							<li>Blood Pressure: {{patient.bloodPressure}}</li>
							<li>Blood Sugar Level: {{patient.bloodSugarLevel}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-9 medical">
			<app-medical-history [patientFName]="patient.firstName" [patientLName]="patient.lastName"></app-medical-history>
		</div>

		<!-- Modal -->
		<div #model class="modal fade bd-example-modal-sm" id="patientDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Edit Personal Info.</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<app-patient-add [patient]="patient" [patientIndex]="patientIndex"></app-patient-add>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>