<div class="container ml-packages">
	<div class="row">
		<div class="pricing-table">
			<div class="col-md-4 mrg">
				<div class="plan">
					<h3>Enterprise
						<span>$59</span>
					</h3>
					
					<ul>
						<li>
							<strong>10GB</strong> Disk Space</li>
						<li>
							<strong>100GB</strong> Monthly Bandwidth</li>
						<li>
							<strong>20</strong> Email Accounts</li>
						<li>
							<strong>Unlimited</strong> subdomains</li>
					</ul>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDoctor">
						As a Doctor
					</button>
					<!-- Modal -->
		<div #model class="modal fade bd-example-modal-sm" id="addDoctor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">LogIn as A Doctor</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
				</div>
			</div>
			<div class="col-md-4 mrg">
				<div class="plan">
					
					<h3>Professional
						<span>$29</span>
					</h3>
					<ul>
						<li>
							<strong>5GB</strong> Disk Space</li>
						<li>
							<strong>50GB</strong> Monthly Bandwidth</li>
						<li>
							<strong>10</strong> Email Accounts</li>
						<li>
							<strong>Unlimited</strong> subdomains</li>
					</ul>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addHospital">
							As a Hospital
						</button>
						<!-- Modal -->
		<div #model class="modal fade bd-example-modal-sm" id="addHospital" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">LogIn as A Hospital</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

				</div>
			</div>
			<div class="col-md-4 mrg">
				<div class="plan">
					<h3>Standard
						<span>$17</span>
					</h3>
					<ul>
						<li>
							<strong>3GB</strong> Disk Space</li>
						<li>
							<strong>25GB</strong> Monthly Bandwidth</li>
						<li>
							<strong>5</strong> Email Accounts</li>
						<li>
							<strong>Unlimited</strong> subdomains</li>
					</ul>
					<a class="btn btn-lg btn-primary" href="#"> Buy Now </a>

				</div>
			</div>
		</div>

	</div>
</div>

