<div style="padding-bottom: 15px">
  <h5 class="center">
    <b>Physician Sheet</b>
  </h5>
</div>
<div class="row">
  
  <div class="col-md-6">
    <p>Doctor Name: sara</p>
  </div>
  <div class="col-md-6">
      <p>Date: 25/ 6/2018</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
      <p> Place : iti</p>
    </div>
    <div class="col-md-6">
        <p>Medicine Name: panadol  </p>
      </div>
  </div>
  <div class="row">
     
      <div class="col-md-6">
        <p>Period : Morning  </p>
      </div>
      <div class="col-md-6">
          <p > Time: before eat    </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <p>Notice: no </p>
        </div>
        
      </div>