

    <app-new-header></app-new-header>
    <div class="mt-router-outlet">
        <router-outlet></router-outlet>
    </div>
    <app-hospital-footer></app-hospital-footer>
    <!-- <app-system-footer></app-system-footer> -->


<!-- <app-system-master *ngIf="!ishospital"></app-system-master>

<app-hospital-master *ngIf="ishospital"></app-hospital-master> -->


<!--<app-header></app-header>
    <div class="mt-router-outlet">
        <router-outlet></router-outlet>
    </div>

 <app-system-footer></app-system-footer> -->

 



