<!-- <app-header *ngIf="!ishospital"></app-header>
<div class="mt-router-outlet">
    <router-outlet></router-outlet>
</div>
<app-system-footer *ngIf="!ishospital"></app-system-footer>



<app-hospital-header *ngIf='ishospital'></app-hospital-header>
<div class="mt-router-outlet">
    <router-outlet></router-outlet>
</div>
<app-hospital-footer *ngIf='ishospital'></app-hospital-footer> -->


<app-header></app-header>
    <div class="mt-router-outlet">
        <router-outlet></router-outlet>
    </div>
 <app-system-footer></app-system-footer>