.section
{
    width: 100%;
}
.icon-edit
{
    color: dodgerblue;
    margin-top: 1px;
    margin-left: -114px;
    
}
.block-personaldetails
{
    margin-top: 96px;
    margin-right: 70px;
    margin-left: 66px;
}
.rowabout
{
    height: 300px;
}
.doc-slide
{
    margin: 5px 41px;
}
.boldfont
{
    font-size: 25px;
    font-weight: normal;
}