.thumb-info img
{
    width: auto;
}
.dept-box
{
    height: 392px;
    margin-right: 30px;
    cursor: pointer;
}
.thumb-info-caption .thumb-info-caption-text, .thumb-info-caption p
{
    padding: 0;
}
.small-image
{
    height: 150px;
}
.pb-xlg
{
    padding-bottom: 13px !important;
}