<footer id="footer" class="m-none footerwrapper">
  <div class="container container-footer">
    <div class="row">
      <div class="col-md-4">
        <h4 class="mb-xlg">Contact Us
          <span class="visible-xs pull-right"></span>
        </h4>
        <div class="contactus">
          <div class="row">
            <div class="col-md-12">
              <input type="text" name="" id="input${1/(\w+)/\u\1/g}" class="form-control" value="Name" required="required" pattern="" title="">
            </div>
            <div class="col-md-6">
              <input type="text" name="" id="input${1/(\w+)/\u\1/g}" class="form-control" value="Phone" required="required" pattern=""
                title="">
            </div>
            <div class="col-md-6">
              <input type="text" name="" id="input${1/(\w+)/\u\1/g}" class="form-control" value="E-mail" required="required" pattern=""
                title="">
            </div>
            <div class="col-md-12">
              <textarea name="" id="input${1/(\w+)/\u\1/g}" class="form-control" rows="3" placeholder="Your Message" required="required"></textarea>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-primary">Send Message</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl">
        <div class="contact-details">
          <h4 class="mb-xlg">Departments
            <span class="visible-xs pull-right"></span>
          </h4>
          <ul class="footer-menu clearfix gray666 homeSpecialitieslist">
            <div class="Row">
              <div class="col-xs-12 col-sm-12  nopadding-left">
                <ul class="footer-menu clearfix gray666" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">

                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best dermatologist" class="" href="#">Dermatologist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best dentist" class="" href="#">Dentist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best physiatrist" class="" href="#">physiatrist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best pediatrician and Neonatologist" class="" href="#">pediatrician and Neonatologist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best neurologist" class="" href="#">neurologist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Orthopedist" class="" href="#">Orthopedist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Obstetrics and Gynecologist" class="" href="#">Obstetrics and Gynecologist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Ear, Nose and Throat Doctor" class="" href="#">Ear, Nose and Throat Doctor</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Cardiologist and blood vessel" class="" href="#">Cardiologist and blood vessel</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Endocrinologist" class="" href="#">Endocrinologist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Ophthalmologist" class="" href="#">Ophthalmologist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Urologist" class="" href="#">Urologist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Plastic Surgeon" class="" href="#">Plastic Surgeon</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Oncologist" class="" href="#">Oncologist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Nutritionist" class="" href="#">Nutritionist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Pulmonologist" class="" href="#">Pulmonologist</a>
                  </li>
                  <li itemprop="name">
                    <a itemprop="url" title="Look for the best Radiology" class="" href="#">Radiology center</a>
                  </li>


                </ul>
              </div>
              <div class="col-xs-6 col-sm-6  nopadding-left">
                <ul class="menu clearfix gray666" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">


                </ul>
              </div>


            </div>

          </ul>

        </div>
      </div>

      <div class="col-md-4">

        <h4 class="mb-xlg">Opening Hours
          <span class="visible-xs pull-right"></span>
        </h4>
        <div class="info custom-info">
          <span>Mon-Fri</span>
          <span>8:30 am to 5:00 pm</span>
        </div>
        <div class="info custom-info">
          <span>Saturday</span>
          <span>9:30 am to 1:00 pm</span>
        </div>
        <div class="info custom-info">
          <span>Sunday</span>
          <span>Closed</span>
        </div>
<br>
        <h4 class="mb-xlg">CommuniCare
          <span class="visible-xs pull-right"></span>
        </h4>
        <ul class="footer-menu clearfix gray666 " itemtype="http://www.schema.org/SiteNavigationElement">
          <li>
            <a class="mobile-nowrap" href="#">Who are we</a>
          </li>
          <li>
            <a href="#">Our Team</a>
          </li>
          <li>
            <a class="mobile-nowrap" href="#">Contact Us</a>
          </li>
        </ul>
        <div class="clearfix"></div>
        <ul class="social-icons">
          <li class="social-icons-facebook">
            <a href="http://www.facebook.com/" target="_blank" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="social-icons-twitter">
            <a href="http://www.twitter.com/" target="_blank" title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="social-icons-linkedin">
            <a href="http://www.linkedin.com/" target="_blank" title="Linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- put html here -->

  <div class="footer-copyright pt-md pb-md">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center m-none">
          <p>© Copyright 2017. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>