<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 docdetails ">
    <div class="card" style="width: auto; height: auto; cursor: pointer;" routerLink="/doctorProfile/{{doctor.id}}">
        <div class="card-body">
            <img class="card-img-top" src="../../../assets/img/detail.jpg" alt="Card image cap">
            <h4 class="text-center"> {{doctor.name}} </h4>
            <h5 class="text-center"> {{doctor.speciality}} </h5>
            <div class="docRates text-center">
                <i class="fa fa-star orange"></i>
                <i class="fa fa-star orange"></i>
                <i class="fa fa-star orange"></i>
                <i class="fa fa-star orange"></i>
                <i class="fa fa-star-half orange"></i>
            </div>
            <button class="btn btn-primary " routerLink="/appointments"> Book An Appointment </button>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
    </div>
</div>