<div role="main" class="main">
  <br/>

   <section class="nospace">
      <div class="container">
          <div class="row">
              <div class="col-md-12" style="margin:auto; ">
                  <img style="text-align:center;margin:auto;height:500px; width:100% " src="../../../assets/img/caring.jpg">
              </div>
          </div>
      </div>
      <br>
  </section>

  <section>
      <div class="container">
          <div class="row">
              <div class="col-md-12 alltext">
                  <h1> About Us</h1>
                  <article> Health is a faith-based, nonprofit integrated health system serving more than 80 communities on the West Coast and Hawaii
                  . Founded on Seventh-day Adventist heritage and values, Adventist Health provides care in hospitals, clinics, home care agencies,
                   hospice agencies and joint-venture retirement centers in both rural and urban communities. Our compassionate and
                    talented team of 35,000 includes associates, medical staff physicians, allied health professionals and volunteers
                     driven in pursuit of one mission: living God's love by inspiring health, wholeness and hope. Together,
                      we are transforming the American healthcare experience with an innovative, yet timeless, whole-person focus on physical, mental, spiritual and social healing. 
                  
                  In addition, the Adventist Health Plan serves patients in Kings County.
                <br>
                <br>                
                </article>
                <br>
                  <h3> MISSION</h3>
                  <br>
                 <p> we commit ourselves to serving all persons with special attention to those
                  who are poor and vulnerable. Our health ministry is dedicated to spiritually centered, holistic
                  care, which sustains and improves the health of individuals and communities. We are advocates for a compassionate
                  and just society through our actions and our words.
                  </p>
                  <br/>
                  <h3> CORE VALUES </h3>
                  <br>
                  <p>These values, though they appear here as merely words on a page, translate into a continuous flow of actions that bring the
                  Spirit of Caring to life for our patients and their families.
                  </p>
              </div>
          </div>
      </div>
      <br>
          <br>
  </section>
  <br/>
  <br/>
  <br/>
</div>
