<div class="form-group">

		<div class="col-md-6">
			<section class="form-group-vertical">
				<div class="input-group input-group-icon mrg2">
					<span class="input-group-addon">
						<span class="icon">
							<i class="fa fa-user"></i>
						</span>
					</span>
					<input class="form-control" type="text" placeholder="Username">
				</div>
				<div class="input-group input-group-icon mrg2">
					<span class="input-group-addon">
						<span class="icon">
							<i class="fa fa-key"></i>
						</span>
					</span>
					<input class="form-control" type="text" placeholder="Password">
				</div>
				<div class="input-group input-group-icon mrg2">
						<span class="input-group-addon">
							<i class="fa fa-envelope"></i>
						</span>
						<input type="text" class="form-control" placeholder="Email">
					</div>
					<div class="col-md-6">
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<div class="input-append">
									<input type="text" class="text" placeholder="EnterPromoCode">
				
				
									<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Add</a>
								</div>
							</div>
						</div>
			</section>
		</div>
	</div>
	<!-- <a class="btn btn-primary mt-md"  routerLink="/acceptance" >Submit</a> -->
	
	<button type="button" class="btn btn-primary mr-xs mb-sm mrg3" routerLink="/acceptance">Submit</button>

	<button type="button" class="btn btn-default mr-xs mb-sm">Cancel</button>