<app-home-slider></app-home-slider>
<a name="specialities"></a>
<div  class="doctors" id="specialities"> 
    <h1 class="text-center"> Our Specialities</h1>
    <app-doctorCategory> </app-doctorCategory>
</div>

<a name="hospitals"></a>
<div  class="hospitals" id="hospitals">
    <h1 class="text-center" >Our Hospitals</h1>
    <app-hospital-listing></app-hospital-listing>
</div>
<a name="packages"></a>
<div class="packages" id="packages">
        <h1 class="text-center" >Our Packages</h1>
  <app-Packedges></app-Packedges>
</div>





