<div class="col-md-6">
   <img src="../../../assets/img/Done.jpg">
</div>
<div class="col-md-6"> 
        <table>
 
                <tr>
                  <td>Name</td>
                  <td>Ahmed</td>
                 
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>00(122)-(000)</td>
                  
                </tr>
                <tr>
                  <td>Email</td>
                  <td>ahmed@gmail.com</td>
                  
                </tr>
                <tr>
                        <td>Date</td>
                        <td>00/00/000</td>
                        
                      </tr>
              
              </table>
</div>