<div class="col-md-6">
   <img src="../../../assets/img/Done.jpg">
</div>
<div class="col-md-6"> 
        <table>
 
                <tr>
                  <td>Your Name</td>
                  <td>{{appointmentData.appointment.FirstName }} {{appointmentData.appointment.LastName }}</td>
                 
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>{{appointmentData.appointment.YourPhone}}</td>
                  
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{appointmentData.appointment.YourEmail}}</td>
                  
                </tr>
                <tr>
                        <td>Date</td>
                        <td>00/00/000</td>
                        
                      </tr>5
                      
              
              </table>
</div>