<div role="main" class="main">
<section class="page-top">
    <div class="container flu">
        <div class="row">
            <div class="col-md-12">
                <ul class="fix">
                    <li>
                        <a routerLink="/home">Home /</a>
                    </li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</section>

<section class="space">
    <div class="container">
        <div class="row center">
            <div class="col-md-12">
                <h2 class="short word-rotator-title">Our Hospital Seek To
                    <strong class="inverted" data-appear-animation="bounceIn">
                        <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                            <span class="word-rotate-items">
                                <span>success.</span>
                                <span>advance.</span>
                                <span>progress.</span>
                            </span>
                        </span>
                    </strong>
                </h2>
                <p class="featured lead">
                    our mission is to improve the health of the patients and the diverse communities we serve with nationally recognized health
                    care,education and research,as well as a commitment to community partenerships.
                </p>
            </div>
        </div>
        <br>
        <br>
        <hr class="tall" />
    </div>
   
</section>
<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <h3 style="line-height:1.5">Quality and Cost</h3>
                    </div>
                    <div class="col-md-3 image">
                        <img src="../../../assets/img/images5.jpg" alt="">
                    </div>
                    <div class="col-md-6 text">
                        <p>High-quality care and affordability go hand-in-hand. By improving the quality of the care we give,
                            we also improve efficiency, which reduces costs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <hr class="tall" />
</section>

<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="feature-box secundary">
                            <!-- <div class="feature-box-icon">
                                        <i class="fa fa-group"></i>
                                    </div> -->
                            <div class="feature-box-info" style="margin:auto;left:100px;">
                                <br/>
                                <h2 class="shorter">See what our patients say about us</h2>
                                <br/>
                                <!-- <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <div class="feature-box secundary">
                                <div class="feature-box-icon">
                                    <img src="../../../assets/img/images2.jpg" style="width:50px;">
                                </div>
                                <div class="feature-box-info">

                                    <h4 class="shorter">Sally</h4>
                                    <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                                        imperdiet. Nulla lacinia iaculis nulla.</p>
                                </div>
                            </div>
                            <div class="feature-box secundary">
                                <div class="feature-box-icon">
                                    <img src="../../../assets/img/images.jpg" style="width:50px; ">
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Ahmed</h4>
                                    <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                                        imperdiet.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <div class="feature-box secundary">
                                <div class="feature-box-icon">
                                    <img src="../../../assets/img/images2.jpg" style="width:50px;">
                                </div>

                                <div class="feature-box-info">
                                    <h4 class="shorter">Bassant</h4>
                                    <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                                        imperdiet. Nulla lacinia iaculis nulla.</p>
                                </div>
                            </div>
                            <div class="feature-box secundary">
                                <div class="feature-box-icon">
                                    <img src="../../../assets/img/images.jpg" style="width:50px;">
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">George</h4>
                                    <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                                        imperdiet. Nulla lacinia iaculis nulla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured highlight footer">
    <div class="container">
        <div class="row center counters">
            <div class="col-md-3 col-sm-6">
                <strong data-to="7000" data-append="+">0</strong>
                <label>Healthy People</label>
            </div>
            <div class="col-md-3 col-sm-6">
                <strong data-to="3">0</strong>
                <label>Years in Serving</label>
            </div>
            <div class="col-md-3 col-sm-6">
                <strong data-to="600">0</strong>
                <label>Doctor</label>
            </div>
            <div class="col-md-3 col-sm-6">
                <strong data-to="80">0</strong>
                <label>Services</label>
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<section class="nospace">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align:center;margin:auto; ">
                <h2>
                    <br/>
                    <strong>Our Hospital</strong>
                </h2>
                <img style="text-align:center;margin:auto;height:500px; width:100% " src="../../../assets/img/hos1.jpg">
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 alltext">
                <h2>
                    <br/>
                    <strong>Looking for</strong> more information?</h2>

                <p>
                    <b> * Make an appointment by calling (043224568) or request an appointment online.</b>
                </p>
                <p>
                    <a href="#">
                        <b>* request an appointment </b>
                    </a>
                </p>
                <p>
                    <a href="#">
                        <b> * visit our online annual report </b>
                    </a>
                </p>
                <p>
                        <a href="#">
                            <b> * Find a Doctor at El Demerdash</b>
                        </a>
                    </p>
                
                <br/>
            </div>
        </div>
    </div>
</section>
<br/>
 </div> 