<div role="main" class="main">
    <section class="page-top ">
        <div class="container-fluid flu">
            <div class="row">
                <div class="col-md-12">
                    <ul class="fix">
                        <li>
                            <a routerLink="/home">Home /</a>
                        </li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <section class="space">
        <div class="container">
            <div class="row center">
                <div class="col-md-12">
                    <h2 class="short word-rotator-title">Our Hospital Seek To
                        <strong class="inverted" data-appear-animation="bounceIn">
                            <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                                <span class="word-rotate-items">
                                    <span>success.</span>
                                    <span>advance.</span>
                                    <span>progress.</span>
                                </span>
                            </span>
                        </strong>
                    </h2>
                    <p class="featured lead">
                        our mission is to improve the health of the patients and the diverse communities we serve with nationally recognized health
                        care,education and research,as well as a commitment to community partenerships.
                    </p>
                </div>
            </div>
            <br>
            <br>
            <hr class="tall" />
        </div>
    </section>



    <!-- <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 alltext">
                    <h3> MISSION</h3>
                    <br>
                   <p> we commit ourselves to serving all persons with special attention to those
                    who are poor and vulnerable. Our health ministry is dedicated to spiritually centered, holistic
                    care, which sustains and improves the health of individuals and communities. We are advocates for a compassionate
                    and just society through our actions and our words.
                    </p>
                    <br/>
                    <h3> CORE VALUES </h3>
                    <br>
                    <p>These values, though they appear here as merely words on a page, translate into a continuous flow of actions that bring the
                    Spirit of Caring to life for our patients and their families.
                    </p>
                </div>
            </div>
        </div>
        <br>
            <hr class="tall" />
            <br>
    </section> -->
    <br>
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <h3 style="line-height:1.5">Quality and Cost</h3>
                        </div>
                        <div class="col-md-3 image">
                            <img src="../../../assets/img/images5.jpg" alt="">
                        </div>
                        <div class="col-md-6 text">
                            <p>High-quality care and affordability go hand-in-hand. By improving the quality of the care we
                                give, we also improve efficiency, which reduces costs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>

    <section class="featured highlight footer">
        <div class="container-fluid">
            <div class="row center counters">
                <div class="col-md-3 col-sm-6">
                    <strong data-to="7000" data-append="+">0</strong>
                    <label>Healthy People</label>
                </div>
                <div class="col-md-3 col-sm-6">
                    <strong data-to="3">0</strong>
                    <label>Years in Serving</label>
                </div>
                <div class="col-md-3 col-sm-6">
                    <strong data-to="600">0</strong>
                    <label>Doctor</label>
                </div>
                <div class="col-md-3 col-sm-6">
                    <strong data-to="80">0</strong>
                    <label>Services</label>
                </div>
            </div>
        </div>


    </section>
    <br/>
    <br/>

    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature-box secundary">
                                <!-- <div class="feature-box-icon">
                                        <i class="fa fa-group"></i>
                                    </div> -->
                                <div class="feature-box-info">
                                    <br/>
                                    <h2 class="shorter">See what our patients say about us</h2>
                                    <br/>
                                    <!-- <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br/>
                                <div class="feature-box secundary">
                                    <div class="feature-box-icon">
                                        <img src="../../../assets/img/images2.jpg" style="width:50px;">
                                    </div>
                                    <div class="feature-box-info">

                                        <h4 class="shorter">Sally</h4>
                                        <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                                            imperdiet. Nulla lacinia iaculis nulla.</p>
                                    </div>
                                </div>
                                <div class="feature-box secundary">
                                    <div class="feature-box-icon">
                                        <img src="../../../assets/img/images.jpg" style="width:50px; ">
                                    </div>
                                    <div class="feature-box-info">
                                        <h4 class="shorter">Ahmed</h4>
                                        <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                                            imperdiet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br/>
                                <div class="feature-box secundary">
                                    <div class="feature-box-icon">
                                        <img src="../../../assets/img/images2.jpg" style="width:50px;">
                                    </div>

                                    <div class="feature-box-info">
                                        <h4 class="shorter">Bassant</h4>
                                        <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                                            imperdiet. Nulla lacinia iaculis nulla.</p>
                                    </div>
                                </div>
                                <div class="feature-box secundary">
                                    <div class="feature-box-icon">
                                        <img src="../../../assets/img/images.jpg" style="width:50px;">
                                    </div>
                                    <div class="feature-box-info">
                                        <h4 class="shorter">George</h4>
                                        <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque
                                            imperdiet. Nulla lacinia iaculis nulla.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>        
        <br/>
        <br>
        <hr class="tall" />
    </section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Our Blog </h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="pb-xlg">
                            <!-- <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0">  -->
                            <span class="thumb-info thumb-info-no-zoom thumb-info-custom mb-xl center">
                                <span class="thumb-info-side-image-wrapper p-none">
                                    <img [src]="department.photo" class="img-responsive" alt="">
                                    <img class="thumb-info-custom-icon" src="../../../assets/img/heartattack.jpg" alt="" />
                                </span>
                                <span class="thumb-info-caption" style="text-align:left;">
                                    <span class="thumb-info-caption-text">
                                        <b>
                                            <p style="font-size:12px;">Heart Health</p>
                                        </b>
                                       <a href="#"><p class="font-size-lg">Know the Difference: Heart Attack vs. Heart Failure</p></a>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pb-xlg">
                            <span class="thumb-info thumb-info-no-zoom thumb-info-custom mb-xl center">
                                <span class="thumb-info-side-image-wrapper p-none">
                                    <img class="thumb-info-custom-icon" src="../../../assets/img/cancer.jpg" alt="" />
                                </span>
                                <span class="thumb-info-caption" style="text-align:left;">
                                    <span class="thumb-info-caption-text">
                                        <b>
                                            <p style="font-size:12px;">Cancer Care</p>
                                        </b>
                                        <a href="#"><p class="font-size-lg">After Beating Cancer, What's Next? The New Normal</p></a>

                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pb-xlg">
                            <!-- <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0">  -->
                            <span class="thumb-info thumb-info-no-zoom thumb-info-custom mb-xl center">
                                <span class="thumb-info-side-image-wrapper p-none">
                                   
                                    <img class="thumb-info-custom-icon" src="../../../assets/img/Joint Pain .jpg" alt="" />
                                </span>
                                <span class="thumb-info-caption" style="text-align:left;">
                                    <span class="thumb-info-caption-text">
                                        <b>
                                            <p style="font-size:12px;">Living Well</p>
                                        </b>
                                        <a href="#"><p class="font-size-lg">Stop Certain Joint Pain with Stem Cell Therapy&nbsp;</p></a>
                                        <br />
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- <section class="nospace">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin:auto; ">
                    <h2 style="text-align:center">
                        <br/>
                        <strong>Our Hospital</strong>
                    </h2>
                    <img style="text-align:center;margin:auto;height:500px; width:100% " src="../../../assets/img/hos1.jpg">
                    <p style="font-size:18px; "><b>healthcare organization dedicated to transformation through innovation across the continuum of care</b></p>
                </div>
            </div>
        </div>
        
    
    </section> -->

    <br/>
    <br/>
</div>
